venv/*
*idea/*
.idea/misc.xml
Tilburg_Club/__pycache__/__init__.cpython-39.pyc
Tilburg_Club/__pycache__/settings.cpython-39.pyc
Tilburg_Club/__pycache__/urls.cpython-39.pyc
Tilburg_Club/__pycache__/views.cpython-39.pyc
Tilburg_Club/__pycache__/wsgi.cpython-39.pyc
userapp/__pycache__/__init__.cpython-39.pyc
userapp/__pycache__/urls.cpython-39.pyc
userapp/__pycache__/views.cpython-39.pyc
*.pyc
