body {
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  height:100%;
}

.signup-form {
  width: 500px;
  margin: 50px auto;
  padding: 10px;
  background-color: grey;
  border-radius: 10px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  }
.find_id-form {
  width: 500px;
  margin: 50px auto;
  padding: 10px;
  background-color: grey;
  border-radius: 10px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  }
.submit {
  color:grey;
  width: 100px;
  margin: 5px auto;
  padding: 30px;
  background-color: grey;
  border-radius: 10px;
  }
h1 {
  font-size: 36px;
  text-align: center;
  margin-bottom: 20px;


}

label {
  display: grey;
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

input[type="submit"] {
  background-color: white;
  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: white;
}