<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- render recent version of IE -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- 모바일에서 웹볼 때 사용하는 태그-->
    <title>자유게시판</title>
    <link rel ="stylesheet"  href="{% static 'css/board.css'%}">
</head>
<body>
    <div class="board">
      <div class="board-header">
        <h1>게시판</h1>
      </div>
      <div class="board-body">
        <table>
          <thead>
            <tr>
              <th>번호</th>
              <th>제목</th>
              <th>작성자</th>
              <th>작성일</th>
              <th>조회수</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td><a href="#">첫 번째 게시물 제목</a></td>
              <td>작성자1</td>
              <td>2023-04-06</td>
              <td>10</td>
            </tr>
            <tr>
              <td>2</td>
              <td><a href="#">두 번째 게시물 제목</a></td>
              <td>작성자2</td>
              <td>2023-04-05</td>
              <td>20</td>
            </tr>
            <!-- 게시물 리스트 추가 -->
          </tbody>
        </table>
      </div>
      <div class="board-footer">
        <ul>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <!-- 페이지 링크 추가 -->
        </ul>
          <a href="#">목록</a>
          <button type="submit">글쓰기</button>
          <div class="board-search">
        <form>
          <input type="text" name="search" placeholder="검색어를 입력하세요">
          <button type="submit">검색</button>
        </form>
        </div>
      </div>
    </div>
  </body>
</html>



