<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>KKH | 자유게시판</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <link rel="stylesheet" href="{% static 'css/main.css'%}" type="text/css"/>

    <style>
        .big-width {display: block;}
        .small-width {display: none;}
        div#searchWrap{display: flex;}
        select[name='type']{width: 30%;}
        input[name='keyword']{width: 60%;}
        form[name='searchForm']{overflow: hidden;}

        @media (max-width: 918px) {
            .writer {display: none;}
            .regDate {display: none;}
            .updateDate {display: none;}
            .big-width {display: none;}
            .small-width {display: block;}
            div#searchWrap{display: block;}
            select[name='type']{width: 100%;}
            input[name='keyword']{width: 100%;}
            a.search{width: 100%;}
        }
    </style>
</head>

<body>
<!-- Main -->
<div id="main">
    <div class="wrapper">
        <div class="inner">

            <!-- Elements -->
            <header class="major">
                <h1>자유게시판</h1>
                <p>게시판 목록</p>
                <h6 style="color:red">여기는 HYPER 인공지능플랫폼팀 자유게시판 입니다</h6>
            </header>
            <h3><a href="{% url 'register' %}" class="button small">글 등록</a></h3>
            <div class="table-wrapper">
                <table>
                    <thead>
                    <tr class="tHead">
                        <th class="bno">번호</th>
                        <th class="title">제목</th>
                        <th class="writer">작성자</th>
                        <th class="regDate">작성일</th>
                        <th class="updateDate">수정일</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for board in board_list %}
                        <tr class="tBody">
                            <td class="bno">{{ board.bno }}</td>
                            <td class="title"><a id="goRead" href="{{ board.bno }}">{{ board.title }}</a></td>
                            <td class="writer">{{ board.writer }}</td>
                            <td class="regDate">{{ board.regDate }}</td>
                            <td class="updateDate">{{ board.updateDate }}</td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="5">게시물이 없습니다.</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                    </tfoot>
                </table>
                <form action="#" method="GET" name="searchForm">
                    <div class="fields">
                        <div class="field">
                            <div id="searchWrap">
                                <select name="type">
                                    <option value="">검색 기준</option>
                                    <option value="T" {% if criteria.type == 'T' %}selected{% endif %}>제목</option>
                                    <option value="C" {% if criteria.type == 'C' %}selected{% endif %}>내용</option>
                                    <option value="W" {% if criteria.type == 'W' %}selected{% endif %}>작성자</option>
                                    <option value="TC" {% if criteria.type == 'TC' %}selected{% endif %}>제목 또는 내용</option>
                                    <option value="TW" {% if criteria.type == 'TW' %}selected{% endif %}>제목 또는 작성자</option>
                                    <option value="TCW" {% if criteria.type == 'TCW'%}selected{% endif %}>제목 또는 내용 또는 작성자</option>
                                </select>
                                <input id="keyword" type="text" name="keyword" value="">
                                <a href="javascript:void(0)" class="search button primary icon solid fa-search">검색</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
<script src="{% static 'js/core/jquery-3.6.4.min.js' %}"></script>
<script>
    // 글 등록 시 전달받는 게시글 번호를 alert으로 출력
    let pageForm = $(document.pageForm);
    let paging = [[${pageMaker.criteria.listLink}]];
    let searchForm = $(document.searchForm);

    $(document).ready(function(){
        let bno = [[${bno}]];
        if(bno == null || history.state){
            return;
        }
        alert("게시글 " + bno + "번이 등록되었습니다.");
        history.replaceState({}, null, null);
    });

    $("a.changePage").click(function(e){
        e.preventDefault();
        pageForm.find("input[name='pageNum']").val($(this).attr("href"));
        pageForm.submit();
    });

    $("a#goRead").on("click", function(e){
        e.preventDefault();
        location.href = "/board/read" + paging + "&bno=" + $(this).attr("href");
    })

    $("a.search").on("click", function(e){
       e.preventDefault();
       if(!searchForm.find("option:selected").val()){
           alert("검색 종류를 선택하세요");
           return;
       }

       if(!searchForm.find("input#keyword").val()){
           alert("키워드를 입력하세요");
           return;
       }
        searchForm.submit();
    });

    $("input#keyword").on("keydown", function(e){
        if(e.keyCode == 13){
            e.preventDefault();
        }
    })
</script>
</html>