<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- render recent version of IE -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- 모바일에서 웹볼 때 사용하는 태그-->
    <title>비밀번호 찾기</title>
    <link rel ="stylesheet"  href="{% static 'css/join.css'%}">
</head>
<body>
<div class='signup-form'>
<h1>Find My Password</h1>
       <form id = "form2" method="POST" action="find_mp">
           {% csrf_token %}
                <span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspID:</span>
                <input type="text" id="ID" name="ID" class="text-field" placeholder="ID">
                <span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspPhone Number:</span><br>
                &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<input type="text" id="phone" name="phone" class="text-field" placeholder="phone number" style="width:300px"><br><br>
            </form>
           &nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp<button value="Ok" onclick="check_form2()" onkeydown="keyboardEnter()">OK</button>
           <script type = "text/javascript" src="/static/js/find_pw.js"></script>
           <script>function keyboardEnter(){if (event.keyCode == 13){check_form2();}}</script>
</div>

</body>
</html>

