<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> <!-- render recent version of IE -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- 모바일에서 웹볼 때 사용하는 태그-->
    <title>비밀번호 찾기</title>
</head>
<body>
<h1>Find My Password</h1>
       <form id = "form2" method="POST" action="find_mp">
           {% csrf_token %}
                <span>ID:</span>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp &nbsp&nbsp&nbsp&nbsp &nbsp&nbsp  <!--앞에 글씨나오는거-->
                <input type="text" id="ID" name="ID" class="text-field" placeholder="ID"><br>
                <!-- name & placeholder will be change to userid or ID -->
                <span>Phone Number:</span>
                <input type="text" id="phone" name="phone" class="text-field" placeholder="phone number"><br><br>

            </form>
           <button value="Ok" onclick="check_form2()" onkeydown="keyboardEnter()">OK</button>
           <script type = "text/javascript" src="/static/js/find_pw.js"></script>
           <script>function keyboardEnter(){if (event.keyCode == 13){check_form2();}}</script>
</body>
</html>

