<html>

 <head>

  <title> 하이퍼 회원가입 페이지 </title>

 </head>



 <body>

        <h3>회원가입</h3>

               <form method="post" action="complete_join">
                   {% csrf_token %}
                   이름:<input type="text" name="name" required><br>
                   전화번호:<input type="text" name="phone">(-를 입력해 주세요)<br>
                   ID:<input type="text" name="ID" required><br>
                   비밀번호:<input type="password" name="userpassword" required><br>
                   주소:<input type="text" name="useraddress" required><br>
                   <input type="submit">
               </form>
 </body>

</html>