<html>
{% load static %}

 <head>

  <title> 하이퍼 회원가입 페이지 </title>
      <link rel ="stylesheet"  href="{% static 'css/join.css'%}">

 </head>



 <body>
        <div class='signup-form'>
        <h3>회원가입 페이지</h3>
               <form method="post" action="complete_join" onsubmit="alert('가입되었습니다.')">
                   {% csrf_token %}

                   <input type="text" name="name" class="name" placeholder="이름을 입력해 주세요" style="width:400px;height:40px;font-size:18px;" required><br>
                   <input type="text" name="phone" placeholder="전화번호 를 입력해 주세요(-을 기입해주세요)" style="width:400px;height:40px;font-size:18px;" ><br>
                   <input type="text" name="ID" placeholder="아이디를 입력해주세요" style="width:400px;height:40px;font-size:18px;" required><br>
                   <input type="password" name="userpassword"  placeholder="패스워드를 입력해주세요" style="width:400px;height:40px;font-size:18px;" required><br>
                   <input type="text" name="useraddress"  placeholder="주소를 입력해주세요" style="width:400px;height:40px;font-size:18px;" required><br>
                   <input type="submit" style="background:black; width:100px;height:40px;font-size:18px;" class="submit" value="가입하기"  placeholder="가입하기">
                                 </form>
        </div>

 </body>

</html>