<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>로그인 페이지</title>
        <link rel ="stylesheet"  href="{% static 'css/login_form.css'%}">
    </head>

    <body>

    <form method="post" action="complete_login" name="login-form">
                   {% csrf_token %}
        <div class="login-form">
            <form name="login">
                <input type="text" name="ID" class="text-field" placeholder="ID" required>
                <input type="password" name="password" class="text-field" placeholder="Password" required>
                <input type="submit" value="로그인" class="submit-btn" onclick="return check_form()">
            </form>

            <div class = 'links'>
                <a href = "join_membership"> 회원가입 </a>&nbsp
                <a href = "find_id"> 아이디 찾기 </a>&nbsp
                <a href = "find_pw"> 비밀번호 찾기 </a>&nbsp
            </div>
        </div>
    </form>
    </body>
<script>
     function check_form() {
                var user_ID = document.getElementsByName("ID")[0].value;
                var user_password = document.getElementsByName("password")[0].value;
                if (user_ID == "") {
                    alert("아이디를 입력하세요.");}
                else {
                console.log(user_ID);
                fetch('/complete_login', {
                 method: 'POST',
                  body: JSON.stringify({
                    ID: user_id,
                     }),
                  headers: {'Content-Type': 'application/json'}
                })
                .then(response => {
                  if (!response.ok) {
                    throw new Error('아이디 or 비밀번호를 다르게 입력했습니다.');
                  }
                  return response.json();
                })
                .then(data => {
                  if (data.error_message) {
                    alert(data.error_message);
                  } else {
                   w
                  }
                })
                .catch(error => {
                  alert(error.message);
                  console.error(error);
                });
                }

}
indow.location.href = "user/main";
</script>
</html>