<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
</head>
<body>
    <h1>login 페이지</h1>
    <div class="container">

      <div class="starter-template">
      <center>
        <h1> 로그인 예시 - 틸버그클럽</h1>
        <h4> 아이디와 패스워드를 입력하세요.</h4>
        <form method="POST" action="loginSubmit">
            <input type="text" id="userid" name="userid" placeholder="ID를 입력하세요">
            <br><br>
            <input type="text" id="userpw" name="userpw" placeholder="PW를 입력하세요">
            <br><br>
            <input type="submit" value="Submit" name="확인"/>
        </form>
      </center>
      </div>

    </div><!-- /.container -->
</body>
</html>