<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>하이퍼 홈페이지</title>
</head>
      <link rel ="stylesheet"  href="{% static 'css/MyWebl.css'%}">
<!--C:\Users\tjoeun\Documents\Tilburg_Club\templates\user\MyWebl.css-->
<!--MyWebl.css-->
<body>
    <div class = 'container'>
        <header>
            <p style="color:white"><h1 style="color:white">HYPER</h1></p>
            <ul>
                <li><a
                href="#" style="color:white">Home</a></li>
                <li><a
                href=/user/login style="color:white">login</a></li>
                <li><a
                href="#" style="color:white">list</a></li>
                <li><a
                href="/user/logout" style="...">logout</a></li>
            </ul>
        </header>
        <section>
               <p style="font-size:100px; color:white;">Wecome!
               </p>
        </section>
        <footer></footer>
    </div>
</body>
</html>