<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>하이퍼 홈페이지</title>
</head>
      <link rel ="stylesheet"  href="{% static 'css/MyWebl.css'%}">
<body>
    <div class = 'container'>
        <header>
            <p style="color:white"><h1 style="color:white">HYPER</h1></p>
            <ul>
                {% if request.session.user_name %}
                    <li><a href="/user/mainpage" style="color:white">Home</a></li>
                    <li><a href="/user/logout" style="color:white">로그아웃</a></li>
                    <li><p style="color:white" >{{ request.session.user_name }}님</p></li>
                    <li><a href="#" style="color:white">List</a></li>
                    <li><a href="/board/board" style="color:white">Board</a></li>
                {% else %}
                    <li><a href="#" style="color:white">Home</a></li>
                    <li><a href="/user/login" style="color:white">로그인</a></li>
                    <li><a href="/user/join_membership" style="color:white">회원가입</a></li>
                {% endif %}
            </ul>
        </header>
        <section>
               <p style="font-size:100px; color:white;">Welcome!
               </p>
        </section>
        <footer></footer>
    </div>
</body>
</html>